<form class="container">
    @if (!timerTime) {
        <button class="btn btn-primary m-3" type="button" [disabled]="isUserListFormInvalid" (click)="onSubmit()">
            Submit all forms
        </button>
    } @else {
        <button class="btn btn-danger m-3" type="button" (click)="onCancel()">Cancel</button>
        {{ timerTime | date: "m:ss" }}
    }
    <div class="row text-center">
        @for (userGroup of userListForm.controls; let index = $index; track index) {
            <div class="col-4">
                <div class="card m-3">
                    <div class="m-3">
                        <label for="country" class="form-label">Country</label>
                        <input
                                id="country"
                                type="text"
                                class="form-control"
                                appInputValidation="Country"
                                [formControl]="userGroup.controls.country"
                                [ngbTypeahead]="searchCountry"
                        />
                    </div>
                    <div class="m-3">
                        <label for="username" class="form-label">Username</label>
                        <input
                                type="text"
                                class="form-control"
                                id="username"
                                appInputValidation="Username"
                                [formControl]="userGroup.controls.username"
                        >
                    </div>
                    <div class="m-3">
                        <label for="birthday" class="form-label">Birthday</label>
                        <div class="input-group">
                            <input
                                #d="ngbDatepicker"
                                ngbDatepicker
                                id="birthday"
                                class="form-control"
                                appInputValidation="Birthday"
                                placeholder="dd.mm.yyyy"
                                [formControl]="userGroup.controls.birthday"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                    type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (isLessThanMaxFormsCount) {
            <div class="col-4">
                <button
                        class="add-user card text-primary m-3 position-relative"
                        type="button"
                        [disabled]="isUserListFormDisabled"
                        (click)="addUserGroup()">
                    <figure class="align-middle figure border border-primary p-4 rounded-circle position-absolute top-50 start-50 translate-middle">
                    <span class="position-absolute top-50 start-50 translate-middle">
                        <i class="bi bi-plus fs-5"></i>
                    </span>
                    </figure>
                </button>
            </div>
        }
    </div>
</form>
